html {
box-sizing: border-box;
font-family: 'Raleway';
}

a {
    text-decoration: none;
}
h1 {
font-size: 20px;
}

h2 {
font-size: 19px;
}

h3 {
  margin:0 0 7px 0;
}
p {   
font-size: 15px;
font-weight: normal;
margin-bottom: 0px;
margin-top: 2px;
}

ul {
    padding-left: 0px
}

/**********Section Header********/

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 60px;     
    margin-right: 60px;
    margin-top: 20px;
}
header img {
    width: 90px;
}
nav a:hover {
    border-top: #0065FC solid;
    color: #0065FC;
}
nav {
    padding: 20px
}
nav a {
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    color:grey;
    font-weight: normal;
}
/*******Barre de recherche*****/

#Blocrecherche {
    margin-left: 45px;
    margin-right: 45px;

}
.recherche {
  
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.recherche i {
    padding: 12px 15px;
    border-radius: 15px 0 0 15px;
    background-color: #f2f2f2;
}
.recherche p {
    margin-top: 0px;

}
form {
    display: flex;
}

input[type=submit] {
    height:40px;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    color: white;
    border: 0;
    font-size: 13px;
    padding: 13px;

}
::placeholder {
    color: black;
    font-weight:600;
}


input[type=text] { 
    border: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    padding-left: 10px;}

/*********Filtres******/

.filtres {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 15px;
        }

.filtres ul {
    width: 100%;
    display: flex;
    padding-left: 0px;
    margin-left: 19px;
    flex-wrap: wrap;

}
.filtres a {
    color: black;
    display: flex;
    border: 2px solid #f2f2f2;
    margin-left: 12px;
    margin-right: 23px;
    border-radius: 27px;
    position: relative;

}

span {
   
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;
    padding:12px;
    padding-left: 47px;
    padding-right: 20px;
}

.filtres li {
    list-style-type: none;
  margin-bottom: 10px;
    
}

.filtres a:hover {
    background-color: #f2f2f2;
    
}
.filtres i {
   
    color:#0065FC;
    
    padding-top: 14px;
}

.filtres p {
    margin-bottom: 30px;
}
.icone {
    width: 45px;
    height: 45px;
    background-color: #DEEBFF;
    text-align: center;
    border-radius: 25px;
    position: absolute;
    bottom: -2px;
    left:-3px;
}
.descri {
    display: flex;
    align-items: center;
}
.descri i {
    border: 1px solid #f2f2f2;
    padding: 5px 10px;
    border-radius: 20px;
    color: #0065FC;
    margin-right: 10px;
}

/*************************** main ***************************/

/******** Section Hebergement à Marseille *********/
#Resultat {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}
.main {

    display: flex;
    width: 100%;
    margin: auto;
}
/*********étoiles de notation**********/
.iblanc {
    color: #f2f2f2;
}
.notation {
    margin-top:6px;
    font-size: 13px;
    color:#0065FC;
    display: flex;
    margin-bottom: 10px;
}

/*******************/

.Hebergement {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    width: 67%;
    border-radius: 20px;
    margin:0 25px;
    padding: 25px 30px 15px 30px;

    
}


        .Hebergement a {
            background-color: white;
            border-radius: 20px;
            width: 33%;
            border-color: white;
            border-style: solid;
            color: black;
            margin: 10px;
            border-width: thick;
            box-shadow: 0px 0px 15px -10px #000000;

        }

        .Hebergement img {
            display: flex;
            width: 100%;
            height:  115px ;
            border-radius: 15px 15px 0 0;
            object-fit: cover  ;
            margin: auto;}
    
    

.top, .botom  {
    width: 100%;
    display: flex;
    border-radius: 20px;
    
    
}
.top {
    margin-bottom: 10px;
}
.contenta {

margin-top: 7px;
margin-bottom: 2px;
margin-left: 10px;

}


#afficherplus {

margin:auto 0;}

#afficherplus a {
    
    background-color: transparent;
    border-style: none;
    font-weight: bold;
}

/**********Section Les plus populaire********/


.titre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
}

.Populaire { 
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    width: 33%;
    border-radius: 20px;
    margin:0 25px;
    padding: 25px 35px 10px 35px;

}
        .Populaire a {
            display: flex;
            height:  135px ;
            border-radius: 20px;
            object-fit: cover  ;
            margin: 10px 0 25px 0;
            border-color: white;
            border-style: solid;
            color: black;
            background-color: white;
            box-shadow: 0px 0px 15px -10px #000000;
            border-width: thick;
        }


        .Populaire img {
            width: 35%;
            border-radius: 15px 0 0 15px ;
            object-fit: cover ;
             }


.contentpop {

width: 46%;
margin: 12px 0px 1px 15px;
position: relative;
}
.contentpop .notation { 
position:absolute;
bottom: 0;

}

/*********** Section Activités ***********/

#Activites {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
#Activites h2 {
    margin-left: 20px;

}
.activites  {
    display: flex;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    margin-top: 30px;
    justify-content: space-around;
    margin-bottom: 60px;
}
        .activites p {
            font-weight: bold;
            justify-content: center;
            padding: 3%}

        .activites a {
            border-radius: 20px;
            color: black;
        }

.portrait {
    width: 50%;
    background-color: white;
    border-radius: 20px;
    color: black;
    margin: 0 20px;
    box-shadow: 0px 0px 11px -5px #000000;}

    .portrait img {
        object-fit: cover;
        width: 100%;
        height: 87%;
        border-radius: 20px 20px 0 0;
        display: flex;
    }
    

.colonne2 {
display: flex;
flex-direction: column;
width: 50%;
height: 100%;
border-radius: 20px;
justify-content: space-between;
margin: 0 20px;

}


        .colonne2 img {
            width: 100%;
            height: 70%;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
        }

        .Pomegues {
            background-color: white;
            width: 100%;
            height: 50%;
            object-fit: cover;
            border-radius: 20px;
            box-shadow: 0px 0px 11px -5px #000000;
        }
        .Frioul {
            background-color: white;
            width: 100%;
            height: 40%;
            object-fit: cover;
            border-radius: 20px;
            box-shadow: 0px 0px 11px -5px #000000;
        }
        .notredame, .Longchamp {
            background-color: white;
            width: 100%;
            height: 45%;
            object-fit: cover;
            border-radius: 20px;
            box-shadow: 0px 0px 11px -5px #000000;

        }
        .bloctab {
            display: flex;
            width: 50%;
        }

/**********Section Footer**********/


footer {
       display: flex;
       background-color: #f2f2f2;
       padding: 20px 0 20px 0;
       list-style-type: none;
       font-weight: normal;
       justify-content: space-around;
       
      }
footer a {
    color:black;
}

  .colonne li {
    list-style-type: none;
    margin-bottom: 12px;
  }
.bouton i {
    display: none;
}

  @media all and (max-width: 768px)
  {
    h1 {
        font-size: 30px;
    }
      header{
          flex-direction: column;
          align-items: center;
          margin: 0;
      }
    
 header img{
    width: 130px; 
    height: auto;  
 }
    nav a:hover{

        border-top: none;
        border-bottom: #0065FC solid;
        color: #0065FC;

    }
    nav {
        display: flex;  
        justify-content: space-between;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;

    }
    nav a {
        width: 100%;
        margin: 0;
        text-align: center;
        padding-bottom: 10px;
        font-size: 20px;
        border-bottom: solid #f2f2f2;
    
    }
  
    #Blocrecherche {
        margin:0 20px;
    }
    #Blocrecherche p{
        font-size: 18px;
    }

input[type=text]{ 
    width: 100%;
    font-size: 20px;
    padding-left: 15px;
}
.filtres a {
    margin-right: 30px;
    margin-left:0;
}
.filtres ul {
    flex-wrap: wrap;
    margin:0;

}
.filtres{
    flex-wrap: wrap;
}
span{
    white-space: nowrap;
    margin-left: 9px;
    margin-right: 9px;
}

.titre{
    padding:0 20px;
}

.Populaire{
    width: auto;
    margin: 0;
    padding:0;
    border-radius: 0;
}
.Populaire a{
margin:10px 24px;
width: auto;
padding: 0;
}


#Resultat{
    margin:40px 0;
}
.main{
    width: auto;
flex-direction: column-reverse;

}
.Hebergement{

    background-color: white;
    width: auto;
    margin:17px;
    padding: 0;
}
.Hebergement a {
    width:auto;
}
.Hebergement h2{
    margin-left: 15px;
}

.top{
    width: auto;
    flex-direction: column;}

.botom{
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
}

    input[type=submit]{
        display: none;
    }

.bouton i{
    display: flex;
    border-radius: 10px;
    background-color: #0065FC;
    color: white;
}

#afficherplus{
    margin: auto 10px;
}
#Activites h2 {
    margin: auto;
}

.activites {
    flex-direction: column;
    height: auto;
    margin-top:10px;
}
.bloctab{
    flex-direction: column;
    width: auto;
}
.activites p{
    padding: 20px;
    font-size: 18px;
}
.activites img{
    height:180px;
}

.portrait, .colonne2{
    width: 100%;
    margin: 18px 0px;
   
}
footer{
    flex-direction: column;
}
.Pomegues,.notredame{
    margin-bottom: 35px;
}
form{
    width: 100%;
    height: 55px;
    justify-content: center;
}
.recherche i {
    padding: 20px;
}
.colonne{
    margin-left: 20px;
}
}
/*********TABLETTE************/

@media (min-width:768px) and (max-width: 992px) {

    .main{
        width: auto;
    flex-direction: column;
    }
    .top{
    }
.botom{

}
.Hebergement{
    width: auto;
}
.activites {
    height: auto;
    margin-top:10px;
    display: flex;
    flex-direction: column;
}
.main{
    width: auto;
flex-direction: column-reverse;

}
.Populaire{
height: auto;
width: auto;
margin-bottom: 20px;}

.Populaire a{
    width: 33%;
    margin-right: 10px;
    margin-left:10px;
}
.contentpop{
    margin-left:10px;
    margin-right: 0;
    margin: 5px 0px 1px 13px;
    width: auto;
}
.poptab{
    display: flex;
}

.bloctab{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px
}
.portrait{
    height: 400px;
}
.colonne2{
    height: 400px;
}
.contentpop .notation {
    bottom: -8px;
}
h3{
    margin: 0;
}
.contenta{
    margin-left: 0px;
}
.filtres{
    width: 100%;
    flex-wrap: wrap;
}
.filtres ul {
    justify-content: space-between;
    margin-left: 0;
}

.filtres a{
    margin-left: 0;
    margin-right: 0;
}
#afficherplus{
    margin: 20px 0px;
}

}